body{
    display: flex;
    background-image: url("../img/7abb5e90d59c587bff5bc6e5f1f457bb0842edf3.webp");
    background-size: cover;
}

.aba-pergunta{
    position: fixed;
    top: calc((100vh - 500px)/2);
    left: calc((100vw - 500px)/2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 500px;
    height: 500px;
    border-radius: 20%;
    padding: 50px;

    background-color:#fff;
    border: 2px solid #6d6d6d;
}

.aba-pergunta .titulo{
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo img{
    height: 100%;
}

.aba-pergunta .botao{
    width: 150px;
    height: 40px;
    border-radius: 10px;

    background-color: #00b818;

    font-size: 20px;
}

.pergunta{
    position: fixed;
    top: calc((100vh - 200px)/2);
    left: calc((100vw - 700px)/2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 700px;
    height: auto;
    border-radius: 50px;
    padding: 10px 20px;

    background-color:#fff;
    border: 2px solid #6d6d6d;
    font-size: 30px;
}

.escondido{
    visibility: hidden;
}